.biggerLabel{
    font-size: 1.2em;
    font-weight: 500;
}
.selectMenu, .inputMenu{
    width: 90%;
    padding: 0.5em 0.75em;
    margin: 0.5em 0;
    background-color: #8facd5;
    color: white;
    border-radius: 5px;
    border: #0a111b solid 2px;
    margin-bottom: 0.5em;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.contentContainer{
    margin: 0 2em 0 0;
    display: flex;
    flex-direction: row;
    
}
.optionsContainer{
    flex:1;
    padding: 0.5em 0 0 0.5em;
    background-color: #e8bd99;
    border-right: #0a111b solid 2px;
    margin-right: 2em;
}
.optionsContainer form{
    display: flex;
    flex-direction: column;
}
.mainContainer{
    flex: 7;
    margin-bottom: 2em;
}
.productsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2em;
}
.dropDownContainer{
    padding: 1em 0;
}
.sortContainer form{
    display: flex;
    flex-direction: column;
}
.sortContainer form div h1{
    margin: 0.5em 0;
    
}
.dropDownContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: lightgray solid 2px;
}
.productsPerPage , .sortingContainer{
    display: flex;
    flex-direction: row;
    gap:1em;
    width: 20%;
    align-items: center;
}
.productsPerPage select {
    padding: 0.75em;
    width: 30%;
}
.sortingContainer select{
    padding: 0.75em;
    width: 70%;
}


@media (width <= 600px) { 
    .mainContainer{
        flex: 6;
    }
   .optionsContainer{
    flex:3;
   }
   .productsContainer{
    flex-direction: column;
    align-items: center;
   }
   .productsPerPage{
    display: none;
   }
   .sortingContainer{
    width: 100%;
   }
}