.biggerLabel{
    font-size: 1.2em;
    font-weight: 500;
}
select, input{
    width: 90%;
    padding: 0.5em 0.75em;
    background-color: #8facd5;
    color: white;
    border-radius: 5px;
    border: #0a111b solid 2px;
    margin-bottom: 0.5em;   
}
.contentContainer{
    margin: 0 2em 0 0;
    display: flex;
    flex-direction: row;
    
}
.optionsContainer{
    flex:1;
    padding: 0.5em 0 0 0.5em;
    background-color: #e8bd99;
    border-right: #0a111b solid 2px;
    margin-right: 2em;
}
.optionsContainer form{
    display: flex;
    flex-direction: column;
}
.mainContainer{
    flex: 7;
    margin-bottom: 2em;
}
.productsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2em;
}
.dropDownContainer{
    padding: 1em 0;
}
.sortContainer form{
    display: flex;
    flex-direction: column;
}
.sortContainer form div h1{
    margin: 0.5em 0;
    
}
.dropDownContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: lightgray solid 2px;
}
.productsPerPage , .sortingContainer{
    display: flex;
    flex-direction: row;
    gap:1em;
    width: 20%;
    align-items: center;
}
.productsPerPage select {
    padding: 0.75em;
    width: 30%;
}
.sortingContainer select{
    padding: 0.75em;
    width: 70%;
}

