.card{
    background-color: #283E40;
    border: black solid 3px;
    max-width: 19.7em;
    color: #e8bd99;
}
.price{
    font-size: 1.2em;
    font-weight: 500;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.redButtonForDetails{
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #cf2c44;
    border: white solid 1px;
    border-radius: 5px;
}
.redButton:hover{
    transform: scale(1.05);
    background-color: #ea9ea9;
}
.blueButton{
    background-color: #264168;
    color: white;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 700;
    border: white solid 1px;
    border-radius: 5px;
}
.blueButton:hover{ 
    transform: scale(1.05);
    background-color: #39629c;
}
.whiteSpan{
    color: white;
}
.oldPrice{
    text-decoration: line-through;
    font-size: 0.85em;
    color: #e8bd99;
    margin-left: 0.5em;
}
.stars{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.stars h6{
    font-size: 1.1em;
    margin: 0 0.5em 0 0;
    padding: 0;
}